* {
  box-sizing: border-box;
}
header,
footer {
  background-color: #6a3001;
  padding: 15px;
}
body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}
h1,
h3 {
  color: #fff;
}

.menu {
  width: 25%;

  background-color: #fff;
}
.content {
  width: 75%;

  background-color: #fff;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding: 15px 15px 15px 0px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 10px;
  margin-bottom: 8px;
  background-color: #351c07;
  color: #fff;
}
.menu li:hover {
  cursor: pointer;
  background-color: #500546;
}
h2 {
  margin: 0;
}
